<main class="contents">
    <div class="container">
        <link href="/markdown.css" rel="stylesheet"></link>
        <link rel="stylesheet" href="/js/styles/monokai-sublime.css">
        {{#htmlLines}}
            {{{.}}}
        {{/htmlLines}}
    </div>
</main>
<script src="/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>