<div class="collapse navbar-collapse top-nav-menu" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        {{#menu}}
        <li class="nav-item {{#active}}active{{/active}}">
            <a class="nav-link" href="{{href}}.html">{{name}}</a>
        </li>
        {{/menu}}
    </ul>
</div>
